.bild{
    width :100%;
   
}

.box-1,.box-2,.box-3 {
    width: 288px;
}
.TT {width: 100%;
height: 90%;}

.Gain{width : 100%;
height: 90%}

.SP{width : 100%;
    height: 90%}

li{display: inline;
font-size:20px}



  









#zitat {
    background-color: lightgray;
    margin-right: 5%;
    margin-left : 3%;
}

#wrapper {
    width: 100%;
   
}


#first {
    width: 330px;
    float: left;
    margin-left: 5%
}
#second {
    width: 330px;
    float: left
}
#third {
    width: 330px;
    float: left
}
#content {
    width : 100%
}

    
   

#daten {
    width :300px;
    height: 200px;
  margin-left : 5%;
}
#quote{
    margin-left: 7%
}



#container{
    background-color: white;
    margin:auto;
   
    
  margin: 0px;
    padding: 2em;
    
   
   
 
}

footer {
    text-align: center; 
    background-color: silver;
}





@media(min-width: 850px){
    
  .container-1 {
    display: inline-flex;
    justify-content: space-around;
    
} 
    
} 

@media (max-width: 500px){
    .box-1,.box-2,.box-3{
        width: 100%;
        
}
}

.box-1,.box-2,.box-3{
    position: relative;
    padding: 10px;
   
    
    
}
h4 { 
    position: absolute; 
    bottom: 30px;
    left: 15px;
    font-size: 24px;
    
  width:100%;
  text-align:left;
  
   
 }

 /* Hausaufgabe 8 , mobile design 


 #inlinenav { display:none}

 nav{display: block}

 ul {
	list-style: none;
}

header {
	height: 62px;
	overflow: hidden;
	background-color: #009900;	
}
#h1 {
	font-family:  "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 28px;
	line-height: 48px;
	margin-left: 15px;
	float: left;	
}

header nav ul {
	display: none;	
}

.btn-menu {
	display: block;
	float: right;
	margin-top: 13px;
	margin-bottom: 2px;
	margin-right: 13px;
	border: 0;
	width: 40px;
	height: 25px;
	background-color: transparent;
	cursor: pointer;
	display: block;
	position: relative;
}



.show_menu .btn-menu:focus {
	outline: none;	
}
  sonst wird irgendwie menü hinter den 3 balken angezeigt`
.btn-menu .text {
	display: block;
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;	
} 
 macht das 3 balken menü 
.btn-menu .bar,
.btn-menu .bar:before,
.btn-menu .bar:after {
	display: block;
	position: absolute;
	width: 40px;
	height: 5px;
    background-color: #fff;
    ohne das nur 1 balken? 
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.btn-menu .bar {
	top: 10px;
	left: 0;	
}
	
.btn-menu .bar:before {
	position: absolute;
	content: '';
	top: 10px;
	left: 0;
}

.btn-menu .bar:after {
	position: absolute;
	content: '';
	top: -10px;	
	left: 0;
}
 
.show .btn-menu .bar {
	background-color: transparent;	
}

.show .btn-menu .bar:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);	
}

.show .btn-menu .bar:after {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}




.mobile-nav {
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #009900;
	border: 1px solid #005500;
	border-top: none;
	border-bottom: none;
	-webkit-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;	
}

.mobile-nav a {
	text-decoration: none;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-indent: 10px;
	display: block;
	line-height: 42px;
	border-bottom: 1px solid #005500;	
}

.mobile-nav a:focus,
.mobile-nav a:hover,
.mobile-nav a:active {
	background-color: #004301;	
}

.mobile-nav li:first-child a {
	border-top: 1px solid #005500;	
}

.show .mobile-nav {
	height: auto;
}

.mobile-nav .dd + ul {
	height: 0;
	overflow: hidden;
	background-color: #093CB3;
	-webkit-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;	
}

.mobile-nav .dd + ul a {
	text-indent: 30px;	
}

.mobile-nav .dd + ul a:focus,
.mobile-nav .dd + ul a:hover,
.mobile-nav .dd + ul a:active {
	background-color: #001E66;	
}

.mobile-nav .dd:after {
	content: '\25BC';
	margin-left: 5px;
	font-size: 12px;	
}

.mobile-nav .dd-show + ul {
	height: auto;	
}
*/
/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
	display: block;	
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

header {
	height: 62px;
	overflow: hidden;
	background-color:silver;	
}

header h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 28px;
	line-height: 48px;
	margin-left: 15px;
	float: left;	
}

header nav ul {
	display: none;	
}





main {
	padding: 15px;
	position: relative;	
}

article h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;	
}

article p {
	line-height: 1.2;
	font-size: 18px;	
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:lightgrey;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
   
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  #inlinenav{
      display:none
  }
  