.bild{width :100%}

.TT {width: 300px;
height: 200px}

.Gain{width : 300px;
height: 200px}

.SP{width : 300px;
    height: 200px}

li{display: inline;
font-size:20px}

#h1{margin-left:5%}

nav{ background-color: silver }

section {float: left;
margin-left: 3%}

table {float : right;
    margin-right: 2%;
width : 30%}

#zitat {
    background-color: lightgray;
    margin-right: 5%;
    margin-left : 3%;
}

#wrapper {
    width: 100%;
   
}

#first {
    width: 330px;
    float: left;
    margin-left: 5%
}
#second {
    width: 330px;
    float: left
}
#third {
    width: 330px;
    float: left
}
#content {
    width : 100%}

#inhalt {
    width: 900px;
    
   
}
#daten {
    width :300px;
    height: 200px;
  margin-left : 5%;
}
#quote{
    margin-left: 7%
}

#page{
    background-color: lightgrey; 
}

#container{
    background-color: white;
    margin:auto;
    box-shadow: blue 10 px;
    max-width: 960px;
    min-height: 400px; 
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: -10px -10px 5px grey;
    border-radius : 24px;
   
   
 
}

footer {
    text-align: center; 
    background-color: silver;
}



